# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env

# Flutter
f1_news_flutter/.dart_tool/
f1_news_flutter/.flutter-plugins
f1_news_flutter/.flutter-plugins-dependencies
f1_news_flutter/build/
f1_news_flutter/.packages

# OS
.DS_Store
